################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CountriesTestApplication/FileContentIndex/1edbef9e-292b-4681-aaa3-47e6979fcf94.vsidx
/.vs/CountriesTestApplication/FileContentIndex/65e5a392-c813-414b-a701-6a7b3dd7691e.vsidx
/.vs/CountriesTestApplication/FileContentIndex/73bc466b-7765-4371-9fd4-fbe9df9850fd.vsidx
