################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CountriesTestApplication/FileContentIndex/1edbef9e-292b-4681-aaa3-47e6979fcf94.vsidx
